In [2]:
import pandas as pd
import numpy as np

In [3]:
flights = pd.read_csv("~/Desktop/flight_training_2019_firstweek.csv")

In [29]:
flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-07,AA,AA_CODESHARE,AA,2989,OO,N744EV,2989,11049,CLL,...,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-07,UA,UA_CODESHARE,UA,3827,ZW,N424AW,3827,13367,MLI,...,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-07,DL,DL_CODESHARE,DL,3803,OO,N291SY,3803,13930,ORD,...,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-07,DL,DL_CODESHARE,DL,3804,OO,N272SY,3804,13930,ORD,...,733,52.0,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2019-01-07,DL,DL_CODESHARE,DL,3805,OO,N290SY,3805,11996,GSP,...,610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146480,2019-01-01,AA,AA,AA,1191,AA,N158AN,1191,11298,DFW,...,1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146481,2019-01-01,AA,AA,AA,1193,AA,N355PU,1193,13930,ORD,...,1440,0.0,20.0,22.0,0.0,0.0,NaN,NaN,NaN,NaN
146482,2019-01-01,AA,AA,AA,1194,AA,N931NN,1194,13204,MCO,...,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146483,2019-01-01,AA,AA,AA,1194,AA,N931NN,1194,13303,MIA,...,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146484,2019-01-01,AA,AA,AA,1195,AA,N190AA,1195,11057,CLT,...,1520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
WeatherEvents = pd.read_csv("~/Desktop/WeatherEvents_Jan2016-Dec2020.csv")

In [12]:
flights_test = pd.read_csv("~/Desktop/flight_testing.csv")

In [34]:
WeatherEvents.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [ ]:
flights

In [11]:
flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [17]:
flights_df = flights[flights_test.columns] #only getting columns we will have in the test data

In [36]:
WeatherEvents["AirportCode"].value_counts()

K3TH    11142
KMLP    10883
KHYW     9268
K0CO     8242
KSMP     7996
        ...
KCZZ       43
K4HV       27
KCQV       25
KSPL        8
KI39        1
Name: AirportCode, Length: 2071, dtype: int64

In [19]:
flights_df.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance'],
      dtype='object')

In [26]:
WeatherEvents["Type"].value_counts()

Rain             3752341
Fog              1385264
Snow              827555
Cold              169182
Precipitation      96684
Storm              40553
Hail                2627
Name: Type, dtype: int64

In [27]:
WeatherEvents["Severity"].value_counts()

Light       3820970
Severe      1167203
Moderate    1020399
Heavy        166323
UNK           96684
Other          2627
Name: Severity, dtype: int64