In [1]:
import pandas as pd
import numpy as np

In [4]:
test_data = pd.read_csv("~/Desktop/flight_testing.csv")

In [5]:
test_data.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01 00:00:00,UA,UA_CODESHARE,UA,5475,OO,N154SY,5475,12892,LAX,"Los Angeles, CA",14747,SEA,"Seattle, WA",1520,1824,N,184,1,954
1,2020-01-01 00:00:00,UA,UA_CODESHARE,UA,5546,OO,N166SY,5546,12892,LAX,"Los Angeles, CA",14747,SEA,"Seattle, WA",926,1237,N,191,1,954
2,2020-01-01 00:00:00,UA,UA_CODESHARE,UA,5552,OO,N151SY,5552,12892,LAX,"Los Angeles, CA",14747,SEA,"Seattle, WA",2033,2338,N,185,1,954
3,2020-01-01 00:00:00,DL,DL,DL,129,DL,N319NB,129,12892,LAX,"Los Angeles, CA",14747,SEA,"Seattle, WA",1140,1442,N,182,1,954
4,2020-01-01 00:00:00,DL,DL,DL,990,DL,N320US,990,12892,LAX,"Los Angeles, CA",14747,SEA,"Seattle, WA",1338,1629,N,171,1,954

In [17]:
test_data.groupby("origin").count()["fl_date"]

origin
LAX    200
Name: fl_date, dtype: int64

In [19]:
test_data.groupby("origin").nunique()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
origin,,,,,,,,,,,,,,,,,,,,
LAX,8,4,5,4,44,5,156,44,1,1,1,1,1,1,51,59,1,16,1,1